<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>OpenCC</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OpenCC</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>s2t.json</string>
					<key>XCSourceEditorCommandName</key>
					<string>簡體到繁體</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>t2s.json</string>
					<key>XCSourceEditorCommandName</key>
					<string>繁體到簡體</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>s2tw.json</string>
					<key>XCSourceEditorCommandName</key>
					<string>簡體到臺灣正體</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>tw2s.json</string>
					<key>XCSourceEditorCommandName</key>
					<string>臺灣正體到簡體</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>s2hk.json</string>
					<key>XCSourceEditorCommandName</key>
					<string>簡體到香港繁體</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>hk2s.json</string>
					<key>XCSourceEditorCommandName</key>
					<string>香港繁體到簡體</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>s2twp.json</string>
					<key>XCSourceEditorCommandName</key>
					<string>簡體到繁體並轉換爲臺灣常用詞彙</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>tw2sp.json</string>
					<key>XCSourceEditorCommandName</key>
					<string>繁體到簡體並轉換爲中國大陸常用詞彙</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>t2hk.json</string>
					<key>XCSourceEditorCommandName</key>
					<string>繁體到香港繁體</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>t2tw.json</string>
					<key>XCSourceEditorCommandName</key>
					<string>繁體臺灣正體</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016年 cyan. All rights reserved.</string>
</dict>
</plist>
